/* FONTS */
/* Variables */
:root {
  --body-bg: white;
  --btn-add: rgb(97, 186, 56);
  --btn-pause: rgb(80, 134, 247);
  --timer-lap: rgb(233, 233, 233);
  --btn-reset: rgb(235, 89, 82);
  --btn-text: rgba(54, 52, 57, 0.8);
}
/*Main Styles*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.timer {
  background-color: var(--body-bg);
  width: 100%;
  height: 100vh;
}
.timer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.timer__content {
  margin-top: 200px;
  margin-bottom: 50px;
}
.timer__title {
  font-weight: 300;
  font-size: 90px;
}
.timer__list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.timer__item:not(:last-child) {
  margin-right: 40px;
}
.timer__text {
  width: 500px;
  font-size: 120px;
  color: var(--btn-text);
}
.timer__milliSeconds {
  font-size: 110px;
}
.timer__btn {
  font-size: 30px;
  border: none;
  border-radius: 10px;
  color: var(--body-bg);
}
.timer__btn:focus,
.timer__close:focus {
  box-shadow: 0px 0px 5px 5px #00000015;
}

.timer__btn--add {
  background-color: var(--btn-add);
  padding: 10px 30px;
}
.timer__btn--start {
  width: 180px;
  padding: 10px;
  background-color: var(--btn-pause);
}
.timer__btn--reset {
  background: transparent;
  color: var(--btn-reset);
}
.timer__close {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.timer__laps {
  padding: 0;
  margin: 0;
  width: 50%;
  list-style-type: none;
}
.timer__lap {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.timer__lap--text {
  margin: 0;
  padding: 5px 10px;
  font-size: 25px;
  background-color: var(--timer-lap);
  color: var(--btn-text);
  flex: 1;
}

button {
  cursor: pointer;
}
